{% extends "base.html" %}
{% load static %}

{% block title %}E-posta Gönderildi{% endblock title %}

{% block content %}
    <div
         class="bg-image text-white d-flex flex-column justify-content-center align-items-center w-100"
         style="
            background-image: url('{% static 'users/image/bg.jpg' %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
    "
    >

        <div class="card shadow-lg p-4 text-center" style="width: 100%; max-width: 400px;">
            <div class="mb-4">
                <i class="fas fa-envelope-circle-check fa-3x" style="color: #004080;"></i>
                <h4 class="mt-3">E-posta Gönderildi</h4>
            </div>

            <p class="text-muted" style="font-size: 0.95rem;">
                Şifre sıfırlama bağlantısı e-posta kutunuza gönderildi.
                <br><br>
                Lütfen gelen kutunuzu ve spam klasörünü kontrol edin.
            </p>

            <a href="{% url 'login' %}" class="btn w-100 mt-3" style="background-color: #001f4d; color: white;">
                Giriş sayfasına dön
            </a>

        </div>
    </div>





{% endblock content %}