{% extends "base.html" %}
{% load static %}

{% block title %}Parolanızı mı unuttunuz?{% endblock title %}

{% block content %}
    <style>
        form p{
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction:column;
            align items: center;
        }

        form p label,
        form p input{
            width:100%;
            max-width:350px;
        }
    </style>

    <div
         class="bg-image text-white d-flex flex-column justify-content-center align-items-center w-100"
        style="
            background-image: url('{% static 'users/image/bg.jpg' %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
        "
    >
        
        <div class= "card shadow-lg p-4" style="width: 100%; max-width: 400px;">
            <div class="text-center mb-4">
                <i class="fas fa-unlock-alt fa-3x" style="color: #004080;"></i>
                <h4 class="mt-2">Şifre Sıfırlama</h4>
            </div>

            <p class="text-center text-muted mb-3" style="font-size: 0.95rem;">
                Lütfen kayıtlı e-posta adresinizi girin.
            </p>

            <form method="POST" novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn w-100 mt-2" style="background-color: #001f4d; color: white;">
                    Gönder
                </button>
            </form>

            {% if form.errors%}
                <div class="alert alert-danger mt-3">
                    Geçerli bir e-posta adresi giriniz.
                </div>
            {% endif %}

            <div class="text-center mt-3">
                <small><a href="{% url 'login' %}">Giriş sayfasına dön</a></small>
            </div>
        </div>
    </div>





{% endblock content %}